<template>
    <header>
        <nuxt-link class="logo" to="/">
            <NuxtLogo />
        </nuxt-link>
    </header>
</template>

<script>
import NuxtLogo from '../NuxtLogo.vue'
export default {
    name: "IndexPage",
    components: { NuxtLogo }
}
</script>


<style>
header {
    background-color: rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px 0;
}

.logo {
    text-decoration: none;
    max-width: 64px;
    margin: 0 0 16px 0;
}

.logo svg {
    width: 100%;
    height: 42px;
}
</style>

