<template>
    <div class="item-container">
        <div class="item">
            <span class="name">{{name}}</span>
            <a :href="'mailto:' + email">{{email}}</a>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        name: String,
        email: String
    }
}
</script>

<style lang="scss">
.item-container{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 16px;
}
.item {
    color: rgb(11, 11, 11);
    background: lightcyan;
    padding: 24px 26px;
    border-radius: 16px;
    margin: 0 0 24px 0;
    box-sizing: border-box;


    span {
        display: block;
        margin-bottom: 12px;
    }

    a {
        text-decoration: none;
    }
}
</style>