<template>
  <div class="wrapper">
    <Header />
    <div class="container">
      <div class="itemContainer">
        <Item v-for="({name, email},key) in items" :key="key" :name="name" :email="email" />
      </div>

      <nav><button v-for="i in maxSize/2" :key="i" @click="setPage(i)" :disabled="disabled || i === page"
          v-bind:class="{ active: i === page}">{{i}}</button></nav>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Item from '../components/Item/index.vue';

const api = "https://jsonplaceholder.typicode.com/users";

export default {
  components: { Item },
  data() {
    return {
      maxSize: 10,
      disabled: false,
    };
  },

  async asyncData() {
    let page = 1;
    const { data } = await axios.get(api, { params: { _limit: 2, _page: page } });
    return { page: page, items: data };
  },

  methods: {
    async setPage(index) {
      this.page = index;
      const { data } = await axios.get(api, { params: { _limit: 2, _page: this.page } });
      this.items = data
    }
  },

  created() {
  },
}
</script>

<style lang="scss">
.container {
  max-width: 991px;
  margin: 0 auto;
}

.itemContainer {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  margin: 0 -16px;
}

nav {
  display: flex;

  button {
    transition: .2s;
    cursor: pointer;
    background-color: lightgray;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin: 0 4px;
    padding: 0;
    width: 32px;
    height: 32px;

    &.active {
      background-color: darkgray;
    }
  }
}
</style>